<div class="created-cont col s12 valign-wrapper">

  <div class="question-head col s4">
    <div class="category z-depth-3">
      <%=question.category%>
    </div>
  </div>

  <div class="created-by center-align col s4">
    created by
    <% if created?(question) %>
      you
    <% else %>
      <a href="/<%= question.user.username %>" class="user-links">
        <%= question.user.username %>
      </a>
    <% end %>

    <% if question.tagged_user != '' %>
      <br/>
      <div class="tagged badge red darken-1 white-text">tagged</div>
      <% if tagged?(question) %>
        you
      <% else %>
        <a href="<%= question.tagged_user %>" class="user-links">
          <%= question.tagged_user %>
        </a>
      <% end %>

    <% end %>
  </div>

  <div class="col s4">
    <div class="expiration">
      <time class="timeago z-depth-3" datetime="<%=question.expire_time.iso8601%>"><%=question.expire_time.strftime("%T")%></time>
    </div>
  </div>



</div>
