<div class="question-head col s4">
  <div class="category z-depth-3">
    <%= question.category %>
  </div>
</div>

<div class="col s4">
  <div class="title z-depth-3">
    <%= question.content %>
    <%= erb :delete_or_tag_partial, layout: false, locals: {question: question} %>
  </div>
</div>

<div class="col s4">
  <div class="expiration">
    <time class="timeago z-depth-3" datetime="<%=question.expire_time.iso8601%>"><%=question.expire_time.strftime("%T")%></time>
  </div>
</div>

<%= erb :'users/question_users_partial', layout: false, locals: {question: question} %>
<%= erb :outcome_draw_partial, layout: false, locals: {question: question} %>

<% if created?(question) && question.resolved && question.votes.empty? %>
  <div class="col s12">
    <div class="card-panel">
        <form action="/questions/<%= question.id %>/edit" method="POST">
          <div class="input-field col s12" name="time">
            <select name="time">
              <option value="1">1 Minute</option>
              <option value="2">2 Minutes</option>
              <option value="5">5 Minutes</option>
              <option value="2880">2 days</option>
            </select>
            <label>This question has no votes yet--would you like to extend the time limit?</label>
          </div>

          <button name="extend_time" type="submit" class="submit-question btn teal">Yes</button>
        </form>
    </div>
  </div>
<% end %>

<div class="question col s6 z-depth-3">
  <div class="row">
    <div class="col s1">
      <div class="left-vote">
        <%=question.vote_count(0)%>
      </div>
    </div>
    <div class="col s2">
    <% unless (question.user == current_user) || (question.tagged_user == current_user.username)  || (question.expired?) %>
      <div class="left-button">
          <button value ="0" id="<%=question.id%>" class="thumb-up btn-floating btn-large waves-effect waves-light red accent-2" value="1" name="option"><i class="check material-icons">thumb_up</i></button>
      </div>
    <%end%>
    </div>
    <div class="col s9">
      <div class="question-left">
        <%= erb :outcome_partial, layout: false, locals: {question: question, option: 0} %>
        <p>
          <%=question.option_a%>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="question col s6 z-depth-3">
  <div class="row">
    <div class="col s9">
      <div class="question-right">
        <%= erb :outcome_partial, layout: false, locals: {question: question, option: 1} %>
        <p>
          <%=question.option_b%>
        </p>
      </div>
    </div>
    <div class="col s2">
    <% unless (question.user == current_user) || (question.tagged_user == current_user.username)  || (question.expired?) %>
      <div class="right-button">
          <button value ="1" id="<%=question.id%>" class="thumb-up btn-floating btn-large waves-effect waves-light red accent-2" value="1" name="option"><i class="check material-icons">thumb_up</i></button>
      </div>
    <%end%>
    </div>
    <div class="col s1">
      <div class="right-vote">
        <%=question.vote_count(1)%>
      </div>
    </div>
  </div>
</div>
