<div class="container">
  <div class="row">
    <% @questions.each do |question| %>
      <div class=question-container>
        <div class="question-head col s4">
          <div class="category z-depth-3">
            <%=question.category%>
          </div>
        </div>
        <div class="col s4">
          <div class="title z-depth-3">
            <%=question.content%>
            <%if created?(question) %>
              <form class="delete-form" action="/questions/<%= question.id %>/delete" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button id="delete" class="delete-button"><i class="material-icons">cancel</i></button>
              </form>
            <%end%>
          </div>
        </div>
        <div class="col s4">
          <div class="expiration">
            <time class="timeago z-depth-3" datetime="<%=question.expire_time.iso8601%>"><%=question.expire_time.strftime("%T")%></time>
          </div>
        </div>

        <div class="col s10 offset-s1">
          <% if draw?(question) && question.votes.exists? %>
              <div class="badge light-blue darken-4 white-text center-align">draw</div>
          <% end %>
        </div>

        <div class="question col s6 z-depth-3">
          <div class="row">
            <div class="col s1">
              <div class="left-vote">
                <%=question.vote_count(0)%>
              </div>
            </div>
            <div class="col s2">
              <div class="left-button">
                  <button value ="0" id="<%=question.id%>" class="thumb-up btn-floating btn-large waves-effect waves-light red accent-2" value="1" name="option"><i class="check material-icons">thumb_up</i></button>
              </div>
            </div>
            <div class="col s9">
              <div class="question-left">
                <%= erb :outcome_partial, layout: false, locals: {question: question, option: 0} %>
                <p>
                  <%=question.option_a%>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="question col s6 z-depth-3">
          <div class="row">
            <div class="col s9">
              <div class="question-right">
                <%= erb :outcome_partial, layout: false, locals: {question: question, option: 1} %>
                <p>
                  <%=question.option_b%>
                </p>
              </div>
            </div>
            <div class="col s2">
              <div class="right-button">
                  <button value ="1" id="<%=question.id%>" class="thumb-up btn-floating btn-large waves-effect waves-light red accent-2" value="1" name="option"><i class="check material-icons">thumb_up</i></button>
              </div>
            </div>
            <div class="col s1">
              <div class="right-vote">
                <%=question.vote_count(1)%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
